.nav-link {
   color: var(--primary-color);
}

.nav-link:hover {
   color: var(--focus-color);
}

@media screen and (max-width: 600px) {
  .mobile-hide {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}