<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accounts</title>
</head>
<body>
<div class="horizontal-container d-flex" id="wrapper">
    <th:block th:include="/admin/navbar"></th:block>
    <div class="container-fluid" id="main">
        <div class="row row-offcanvas row-offcanvas-left vh-100">
            <th:block th:include="/admin/sidebar"></th:block>
            <!--/col-->
            <div class="col-housing main h-100 overflow-auto">
                <main class="col main pt-5 mt-3 overflow-auto" >
                    <div th:if="${success}">
                        <div class="alert alert-success" role="alert" th:text="${success}"> </div>
                    </div>
                    <div th:if="${error}">
                        <div class="alert alert-danger" role="alert" th:text="${error}"></div>
                    </div>
                    <h1 class="display-4 d-none d-sm-block">
                        Accounts
                    </h1>

                    <p class="lead d-none d-sm-block">Add new accounts and manage the data for all existing ones on the Great Neck Zmanim platform.</p>

                    <hr>

                    <div class="row my-4 footer-pusher">
                        <div class="col-lg-9 col-md-8">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Linked Organization</th>
                                        <th>Manage</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="account: ${accounts}">
                                        <td th:text="${account.id}" />
                                        <td th:text="${account.username}" />
                                        <td th:text="${account.email}" />
                                        <td th:text="${account.getRoleDisplayName()}" />
                                        <td th:text="${organizationNames.get(account.id)}" />
                                        <td>
                                            <a role="button" class="btn btn-primary btn-sm" th:href="@{/admin/account?id=} + ${account.id}">Manage</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Add an Organization</h4>
                                    <p class="card-text">Create an organization along with an account used for posting location details, minyan information, and more. </p>
                                    <a href="/admin/new-organization" class="btn btn-primary">Go</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/row-->

                    <!--                <th:block th:include="/admin/footer"></th:block>-->
                </main>
                <th:block th:include="/admin/footer"></th:block>
            </div>

            <!--/main col-->
        </div>

    </div>
    <!--/.container-->
</div>
</body>
</html>