<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Minyan Schedule</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.1/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/styles.css}">
    <link th:rel="stylesheet" th:href="@{/admin/styles.css}">
    <link th:rel="stylesheet" th:href="@{/admin/minyan-schedule.css}"/>
</head>
<body>
<div class="horizontal-container d-flex" id="wrapper">
    <th:block th:include="/admin/navbar"></th:block>
    <div class="container-fluid" id="main">
        <div class="row row-offcanvas row-offcanvas-left vh-100">
            <th:block th:include="/admin/sidebar"></th:block>
            <!--/col-->
            <div class="col-housing main h-100 overflow-auto">
                <main class="col main pt-5 mt-3 overflow-auto" >
                    <div th:if="${successmessage}">
                        <div class="alert alert-success" role="alert" th:text="${successmessage}"> </div>
                    </div>
                    <div th:if="${errormessage}">
                        <div class="alert alert-danger" role="alert" th:text="${errormessage}"></div>
                    </div>
                    <h1 class="display-4 d-none d-sm-block">
                        Minyan Schedule
                    </h1>
                    <p class="lead d-none d-sm-block">Manage and add new minyanim for [(${organization.name})] on the Great Neck Minyanim platform.</p>

                    <hr>

                    <div class="row my-4 footer-pusher">
                        <div class="col-lg-9 col-md-8">
                            <div>
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" id="pills-shacharit-tab" data-toggle="pill" href="#pills-shacharit" role="tab" aria-controls="pills-shacharit" aria-selected="true">Shacharit</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="pills-mincha-tab" data-toggle="pill" href="#pills-mincha" role="tab" aria-controls="pills-mincha" aria-selected="false">Mincha</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="pills-arvit-tab" data-toggle="pill" href="#pills-arvit" role="tab" aria-controls="pills-arvit" aria-selected="false">Arvit</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="pills-selichot-tab" data-toggle="pill" href="#pills-selichot" role="tab" aria-controls="pills-selichot" aria-selected="false">Selichot</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="pills-megila-tab" data-toggle="pill" href="#pills-megila" role="tab" aria-controls="pills-megila" aria-selected="false">Megila Reading</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade active show" id="pills-shacharit" role="tabpanel" aria-labelledby="pills-shacharit-tab">
                                        <div th:if="${!shacharitminyanim.isEmpty()}" class="table-responsive">
                                            <table class="table table-striped">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th class="mini-column">Manage</th>
                                                    <th>Active</th>
                                                    <th>Location</th>
                                                    <th>Sunday</th>
                                                    <th>Monday</th>
                                                    <th>Tuesday</th>
                                                    <th>Wednesday</th>
                                                    <th>Thursday</th>
                                                    <th>Friday</th>
                                                    <th>Shabbat</th>
                                                    <th>Rosh Chodesh</th>
                                                    <th>Chanuka</th>
                                                    <th>Rosh Chodesh Chanuka</th>
                                                    <th>Yom Tov</th>
                                                    <th>Nusach</th>
                                                    <th>Notes</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="minyan: ${shacharitminyanim}" th:with="minyantimes=${shacharittimes.get(minyan.getId())}">
                                                    <td>
                                                        <div>
                                                            <a role="button" class="btn btn-dark btn-sm" th:href="@{|/admin/minyanim/${minyan.getId()}/view|}">
                                                                Update
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div th:if="${minyan.isEnabled()}">
                                                            <a role="button" class="btn btn-danger btn-sm" th:href="@{|/admin/minyanim/${minyan.id}/disable|(rd=@{|/admin/${organization.id}/minyanim|(st=sh)})}">
                                                                Disable
                                                            </a>
                                                        </div>
                                                        <div th:if="${!minyan.isEnabled()}">
                                                            <a role="button" class="btn btn-success btn-sm" th:href="@{|/admin/minyanim/${minyan.id}/enable|(rd=@{|/admin/${organization.id}/minyanim|(st=sh)})}">
                                                                Enable
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td th:text="${locationnames.get(minyan.getId())}" />
                                                    <td th:with="sundaytime=${minyantimes.get(Day.SUNDAY)}">
                                                        <div th:text="${sundaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="mondaytime=${minyantimes.get(Day.MONDAY)}">
                                                        <div th:text="${mondaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="tuesdaytime=${minyantimes.get(Day.TUESDAY)}">
                                                        <div th:text="${tuesdaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="wednesdaytime=${minyantimes.get(Day.WEDNESDAY)}">
                                                        <div th:text="${wednesdaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="thursdaytime=${minyantimes.get(Day.THURSDAY)}">
                                                        <div th:text="${thursdaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="fridaytime=${minyantimes.get(Day.FRIDAY)}">
                                                        <div th:text="${fridaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="shabbattime=${minyantimes.get(Day.SHABBAT)}">
                                                        <div th:text="${shabbattime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="roshchodeshtime=${minyantimes.get(Day.ROSH_CHODESH)}">
                                                        <div th:text="${roshchodeshtime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="chanukatime=${minyantimes.get(Day.CHANUKA)}">
                                                        <div th:text="${chanukatime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="roshchodeshchanukatime=${minyantimes.get(Day.ROSH_CHODESH_CHANUKA)}">
                                                        <div th:text="${roshchodeshchanukatime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="yomtovtime=${minyantimes.get(Day.YOM_TOV)}">
                                                        <div th:text="${yomtovtime.displayTime()}"></div>
                                                    </td>
                                                    <td th:text="${minyan.getNusach().displayName()}" />
                                                    <td th:text="${minyan.getNotes()}" />
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div th:if="${shacharitminyanim.isEmpty()}" class="jumbotron jumbotron-fluid">
                                            <div class="container">
                                                <h3>You don't have any shacharit minyanim saved.</h3>
                                                <hr>
                                                <a th:href="@{|/admin/${organization.id}/minyanim/new?st=sh|}" role="button" class="btn btn-primary">Add a Minyan</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-mincha" role="tabpanel" aria-labelledby="pills-mincha-tab">
                                        <div th:if="${!minchaminyanim.isEmpty()}" class="table-responsive">
                                            <table class="table table-striped">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th class="mini-column">Manage</th>
                                                    <th>Active</th>
                                                    <th>Location</th>
                                                    <th>Sunday</th>
                                                    <th>Monday</th>
                                                    <th>Tuesday</th>
                                                    <th>Wednesday</th>
                                                    <th>Thursday</th>
                                                    <th>Friday</th>
                                                    <th>Shabbat</th>
                                                    <th>Rosh Chodesh</th>
                                                    <th>Chanuka</th>
                                                    <th>Rosh Chodesh Chanuka</th>
                                                    <th>Yom Tov</th>
                                                    <th>Nusach</th>
                                                    <th>Notes</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="minyan: ${minchaminyanim}" th:with="minyantimes=${minchatimes.get(minyan.getId())}">
                                                    <td>
                                                        <div>
                                                            <a role="button" class="btn btn-dark btn-sm" th:href="@{|/admin/minyanim/${minyan.getId()}/view|}">
                                                                Update
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div th:if="${minyan.isEnabled()}">
                                                            <a role="button" class="btn btn-danger btn-sm" th:href="@{|/admin/minyanim/${minyan.id}/disable|(rd=@{|/admin/${organization.id}/minyanim|(st=mi)})}">
                                                                Disable
                                                            </a>
                                                        </div>
                                                        <div th:if="${!minyan.isEnabled()}">
                                                            <a role="button" class="btn btn-success btn-sm" th:href="@{|/admin/minyanim/${minyan.id}/enable|(rd=@{|/admin/${organization.id}/minyanim|(st=mi)})}">
                                                                Enable
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td th:text="${locationnames.get(minyan.getId())}" />
                                                    <td th:with="sundaytime=${minyantimes.get(Day.SUNDAY)}">
                                                        <div th:text="${sundaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="mondaytime=${minyantimes.get(Day.MONDAY)}">
                                                        <div th:text="${mondaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="tuesdaytime=${minyantimes.get(Day.TUESDAY)}">
                                                        <div th:text="${tuesdaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="wednesdaytime=${minyantimes.get(Day.WEDNESDAY)}">
                                                        <div th:text="${wednesdaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="thursdaytime=${minyantimes.get(Day.THURSDAY)}">
                                                        <div th:text="${thursdaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="fridaytime=${minyantimes.get(Day.FRIDAY)}">
                                                        <div th:text="${fridaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="shabbattime=${minyantimes.get(Day.SHABBAT)}">
                                                        <div th:text="${shabbattime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="roshchodeshtime=${minyantimes.get(Day.ROSH_CHODESH)}">
                                                        <div th:text="${roshchodeshtime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="chanukatime=${minyantimes.get(Day.CHANUKA)}">
                                                        <div th:text="${chanukatime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="roshchodeshchanukatime=${minyantimes.get(Day.ROSH_CHODESH_CHANUKA)}">
                                                        <div th:text="${roshchodeshchanukatime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="yomtovtime=${minyantimes.get(Day.YOM_TOV)}">
                                                        <div th:text="${yomtovtime.displayTime()}"></div>
                                                    </td>
                                                    <td th:text="${minyan.getNusach().displayName()}" />
                                                    <td th:text="${minyan.getNotes()}" />
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div th:if="${minchaminyanim.isEmpty()}" class="jumbotron jumbotron-fluid">
                                            <div class="container">
                                                <h3>You don't have any mincha minyanim saved.</h3>
                                                <hr>
                                                <a th:href="@{|/admin/${organization.id}/minyanim/new?st=mi|}" role="button" class="btn btn-primary">Add a Minyan</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="pills-arvit" role="tabpanel" aria-labelledby="pills-arvit-tab">
                                        <div th:if="${!arvitminyanim.isEmpty()}" class="table-responsive">
                                            <table class="table table-striped">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th class="mini-column">Manage</th>
                                                    <th>Active</th>
                                                    <th>Location</th>
                                                    <th>Sunday</th>
                                                    <th>Monday</th>
                                                    <th>Tuesday</th>
                                                    <th>Wednesday</th>
                                                    <th>Thursday</th>
                                                    <th>Friday</th>
                                                    <th>Shabbat</th>
                                                    <th>Rosh Chodesh</th>
                                                    <th>Chanuka</th>
                                                    <th>Rosh Chodesh Chanuka</th>
                                                    <th>Yom Tov</th>
                                                    <th>Nusach</th>
                                                    <th>Notes</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="minyan: ${arvitminyanim}" th:with="minyantimes=${arvittimes.get(minyan.getId())}">
                                                    <td>
                                                        <div>
                                                            <a role="button" class="btn btn-dark btn-sm" th:href="@{|/admin/minyanim/${minyan.getId()}/view|}">
                                                                Update
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div th:if="${minyan.isEnabled()}">
                                                            <a role="button" class="btn btn-danger btn-sm" th:href="@{|/admin/minyanim/${minyan.id}/disable|(rd=@{|/admin/${organization.id}/minyanim|(st=ar)})}">
                                                                Disable
                                                            </a>
                                                        </div>
                                                        <div th:if="${!minyan.isEnabled()}">
                                                            <a role="button" class="btn btn-success btn-sm" th:href="@{|/admin/minyanim/${minyan.id}/enable|(rd=@{|/admin/${organization.id}/minyanim|(st=ar)})}">
                                                                Enable
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td th:text="${locationnames.get(minyan.getId())}" />
                                                    <td th:with="sundaytime=${minyantimes.get(Day.SUNDAY)}">
                                                        <div th:text="${sundaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="mondaytime=${minyantimes.get(Day.MONDAY)}">
                                                        <div th:text="${mondaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="tuesdaytime=${minyantimes.get(Day.TUESDAY)}">
                                                        <div th:text="${tuesdaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="wednesdaytime=${minyantimes.get(Day.WEDNESDAY)}">
                                                        <div th:text="${wednesdaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="thursdaytime=${minyantimes.get(Day.THURSDAY)}">
                                                        <div th:text="${thursdaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="fridaytime=${minyantimes.get(Day.FRIDAY)}">
                                                        <div th:text="${fridaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="shabbattime=${minyantimes.get(Day.SHABBAT)}">
                                                        <div th:text="${shabbattime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="roshchodeshtime=${minyantimes.get(Day.ROSH_CHODESH)}">
                                                        <div th:text="${roshchodeshtime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="chanukatime=${minyantimes.get(Day.CHANUKA)}">
                                                        <div th:text="${chanukatime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="roshchodeshchanukatime=${minyantimes.get(Day.ROSH_CHODESH_CHANUKA)}">
                                                        <div th:text="${roshchodeshchanukatime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="yomtovtime=${minyantimes.get(Day.YOM_TOV)}">
                                                        <div th:text="${yomtovtime.displayTime()}"></div>
                                                    </td>
                                                    <td th:text="${minyan.getNusach().displayName()}" />
                                                    <td th:text="${minyan.getNotes()}" />
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div th:if="${arvitminyanim.isEmpty()}" class="jumbotron jumbotron-fluid">
                                            <div class="container">
                                                <h3>You don't have any arvit minyanim saved.</h3>
                                                <hr>
                                                <a th:href="@{|/admin/${organization.id}/minyanim/new?st=mi|}" role="button" class="btn btn-primary">Add a Minyan</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="pills-selichot" role="tabpanel" aria-labelledby="pills-selichot-tab">
                                        <div th:if="${!selichotminyanim.isEmpty()}" class="table-responsive">
                                            <table class="table table-striped">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th class="mini-column">Manage</th>
                                                    <th>Active</th>
                                                    <th>Location</th>
                                                    <th>Sunday</th>
                                                    <th>Monday</th>
                                                    <th>Tuesday</th>
                                                    <th>Wednesday</th>
                                                    <th>Thursday</th>
                                                    <th>Friday</th>
                                                    <th>Shabbat</th>
                                                    <th>Rosh Chodesh</th>
                                                    <th>Chanuka</th>
                                                    <th>Rosh Chodesh Chanuka</th>
                                                    <th>Yom Tov</th>
                                                    <th>Nusach</th>
                                                    <th>Notes</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="minyan: ${selichotminyanim}" th:with="minyantimes=${selichottimes.get(minyan.getId())}">
                                                    <td>
                                                        <div>
                                                            <a role="button" class="btn btn-dark btn-sm" th:href="@{|/admin/minyanim/${minyan.getId()}/view|}">
                                                                Update
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div th:if="${minyan.isEnabled()}">
                                                            <a role="button" class="btn btn-danger btn-sm" th:href="@{|/admin/minyanim/${minyan.id}/disable|(rd=@{|/admin/${organization.id}/minyanim|(st=se)})}">
                                                                Disable
                                                            </a>
                                                        </div>
                                                        <div th:if="${!minyan.isEnabled()}">
                                                            <a role="button" class="btn btn-success btn-sm" th:href="@{|/admin/minyanim/${minyan.id}/enable|(rd=@{|/admin/${organization.id}/minyanim|(st=se)})}">
                                                                Enable
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td th:text="${locationnames.get(minyan.getId())}" />
                                                    <td th:with="sundaytime=${minyantimes.get(Day.SUNDAY)}">
                                                        <div th:text="${sundaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="mondaytime=${minyantimes.get(Day.MONDAY)}">
                                                        <div th:text="${mondaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="tuesdaytime=${minyantimes.get(Day.TUESDAY)}">
                                                        <div th:text="${tuesdaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="wednesdaytime=${minyantimes.get(Day.WEDNESDAY)}">
                                                        <div th:text="${wednesdaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="thursdaytime=${minyantimes.get(Day.THURSDAY)}">
                                                        <div th:text="${thursdaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="fridaytime=${minyantimes.get(Day.FRIDAY)}">
                                                        <div th:text="${fridaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="shabbattime=${minyantimes.get(Day.SHABBAT)}">
                                                        <div th:text="${shabbattime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="roshchodeshtime=${minyantimes.get(Day.ROSH_CHODESH)}">
                                                        <div th:text="${roshchodeshtime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="chanukatime=${minyantimes.get(Day.CHANUKA)}">
                                                        <div th:text="${chanukatime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="roshchodeshchanukatime=${minyantimes.get(Day.ROSH_CHODESH_CHANUKA)}">
                                                        <div th:text="${roshchodeshchanukatime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="yomtovtime=${minyantimes.get(Day.YOM_TOV)}">
                                                        <div th:text="${yomtovtime.displayTime()}"></div>
                                                    </td>
                                                    <td th:text="${minyan.getNusach().displayName()}" />
                                                    <td th:text="${minyan.getNotes()}" />
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div th:if="${selichotminyanim.isEmpty()}" class="jumbotron jumbotron-fluid">
                                            <div class="container">
                                                <h3>You don't have any selichot minyanim saved.</h3>
                                                <hr>
                                                <a th:href="@{|/admin/${organization.id}/minyanim/new?st=mi|}" role="button" class="btn btn-primary">Add a Minyan</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="pills-megila" role="tabpanel" aria-labelledby="pills-megila-tab">
                                        <div th:if="${!megilaminyanim.isEmpty()}" class="table-responsive">
                                            <table class="table table-striped">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th class="mini-column">Manage</th>
                                                    <th>Active</th>
                                                    <th>Location</th>
                                                    <th>Sunday</th>
                                                    <th>Monday</th>
                                                    <th>Tuesday</th>
                                                    <th>Wednesday</th>
                                                    <th>Thursday</th>
                                                    <th>Friday</th>
                                                    <th>Shabbat</th>
                                                    <th>Rosh Chodesh</th>
                                                    <th>Chanuka</th>
                                                    <th>Rosh Chodesh Chanuka</th>
                                                    <th>Yom Tov</th>
                                                    <th>Nusach</th>
                                                    <th>Notes</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="minyan: ${megilaminyanim}" th:with="minyantimes=${megilatimes.get(minyan.getId())}">
                                                    <td>
                                                        <div>
                                                            <a role="button" class="btn btn-dark btn-sm" th:href="@{|/admin/minyanim/${minyan.getId()}/view|}">
                                                                Update
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div th:if="${minyan.isEnabled()}">
                                                            <a role="button" class="btn btn-danger btn-sm" th:href="@{|/admin/minyanim/${minyan.id}/disable|(rd=@{|/admin/${organization.id}/minyanim|(st=mr)})}">
                                                                Disable
                                                            </a>
                                                        </div>
                                                        <div th:if="${!minyan.isEnabled()}">
                                                            <a role="button" class="btn btn-success btn-sm" th:href="@{|/admin/minyanim/${minyan.id}/enable|(rd=@{|/admin/${organization.id}/minyanim|(st=mr)})}">
                                                                Enable
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td th:text="${locationnames.get(minyan.getId())}" />
                                                    <td th:with="sundaytime=${minyantimes.get(Day.SUNDAY)}">
                                                        <div th:text="${sundaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="mondaytime=${minyantimes.get(Day.MONDAY)}">
                                                        <div th:text="${mondaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="tuesdaytime=${minyantimes.get(Day.TUESDAY)}">
                                                        <div th:text="${tuesdaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="wednesdaytime=${minyantimes.get(Day.WEDNESDAY)}">
                                                        <div th:text="${wednesdaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="thursdaytime=${minyantimes.get(Day.THURSDAY)}">
                                                        <div th:text="${thursdaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="fridaytime=${minyantimes.get(Day.FRIDAY)}">
                                                        <div th:text="${fridaytime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="shabbattime=${minyantimes.get(Day.SHABBAT)}">
                                                        <div th:text="${shabbattime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="roshchodeshtime=${minyantimes.get(Day.ROSH_CHODESH)}">
                                                        <div th:text="${roshchodeshtime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="chanukatime=${minyantimes.get(Day.CHANUKA)}">
                                                        <div th:text="${chanukatime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="roshchodeshchanukatime=${minyantimes.get(Day.ROSH_CHODESH_CHANUKA)}">
                                                        <div th:text="${roshchodeshchanukatime.displayTime()}"></div>
                                                    </td>
                                                    <td th:with="yomtovtime=${minyantimes.get(Day.YOM_TOV)}">
                                                        <div th:text="${yomtovtime.displayTime()}"></div>
                                                    </td>
                                                    <td th:text="${minyan.getNusach().displayName()}" />
                                                    <td th:text="${minyan.getNotes()}" />
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div th:if="${megilaminyanim.isEmpty()}" class="jumbotron jumbotron-fluid">
                                            <div class="container">
                                                <h3>You don't have any megila minyanim saved.</h3>
                                                <hr>
                                                <a th:href="@{|/admin/${organization.id}/minyanim/new?st=mi|}" role="button" class="btn btn-primary">Add a Minyan</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Add a Minyan</h4>
                                    <p class="card-text">Create a scheduled minyan with all associated data.</p>
                                    <a th:href="${'/admin/' + organization.id + '/minyanim/new'}" class="btn btn-primary">New Minyan</a>
                                </div>
                            </div>
<!--                            <div class="card card-inverse bg-inverse mt-3">-->
<!--                                <div class="card-body">-->
<!--                                    <h4 class="card-title">Add a One-Time Minyan</h4>-->
<!--                                    <p class="card-text">Temporary change in the schedule? Click here to temporarily disable or alter minyanim to accommodate for chagim and other circumstances.</p>-->
<!--                                    <a href="/admin/new-organization" class="btn btn-primary">New Exception</a>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                    <!--/row-->

                    <!--                <th:block th:include="/admin/footer"></th:block>-->
                </main>
                <th:block th:include="/admin/footer"></th:block>
            </div>

            <!--/main col-->
        </div>

    </div>
    <!--/.container-->
</div>
</body>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.1/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/minyan-schedule.js}"></script>

</html>