<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${organization.name}"></title>
</head>
<body>
<div class="horizontal-container">
    <th:block th:include="/admin/navbar"></th:block>
    <div class="container-fluid" id="main">
        <div class="row row-offcanvas row-offcanvas-left vh-100">
            <th:block th:include="/admin/sidebar"></th:block>
            <!--/col-->
            <div class="col-housing main h-100 overflow-auto">
                <main class="col main pt-5 mt-3 overflow-auto">
                    <div class="alert alert-success" role="alert" th:if="${success}" th:text="${success}"></div>
                    <h1 class="display-4 d-none d-sm-block" th:text="${organization.name}"></h1>
                    <p class="lead d-none d-sm-block">Edit profile, attributes, and associated accounts.</p>

                    <hr>
                    
                    <div class="row my-4" style="padding-bottom: 60px">
                        <div class="col-lg-9 col-md-8">
                            <div class="table-responsive">
                                <form th:action="@{/admin/update-organization}" method="post">
                                    <input type="hidden" name="id" th:value="${organization.id}">
                                    <div class="form-group">
                                        <label for="name">Organization Name</label>
                                        <input type="text" class="form-control" name="name" id="name" aria-describedby="display-name" required th:value="${organization.name}">
                                        <small id="name-help" class="form-text text-muted">This is the public display name for the organization.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="address">Organization Address</label>
                                        <input type="text" class="form-control" name="address" id="address" aria-describedby="address" th:value="${organization.address}">
                                        <small id="address-help" class="form-text text-muted">This is the publicly displayed address for the organization.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="site-url">Website</label>
                                        <input type="text" class="form-control" name="site-url" id="site-url" aria-describedby="site-url" th:value="${organization.websiteURI}">
                                        <small id="site-url-help" class="form-text text-muted">This website link will be displayed publically.</small>
                                    </div>
                                    <div class="login-msg-box" th:if="${error}" style="padding-bottom: 8px">
                                        <div class="form-msg-fatal" th:text="${error}"></div>
                                    </div>
<!--                                    <div class="login-msg-box" th:if="${success}" style="padding-bottom: 8px">-->
<!--                                        <div class="form-msg-success" th:text="${success}"></div>-->
<!--                                    </div>-->
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </form>
                            </div>

                            <hr>

                            <div class="horizontal-container">
                                <h5>Associated Accounts</h5>
                                <div style="padding-bottom: 10px;">
                                    <button type="button" class="btn btn-outline-primary" style="font-size: 0.6rem;">
                                        Add Account
                                    </button>
                                </div>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Options</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user: ${associatedusers}">
                                    <th scope="row" th:text="${user.id}"></th>
                                    <td th:text="${user.username}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td>
                                        <button type="button" class="btn btn-warning" th:disabled="${associatedusers.size() <= 1}">Disable</button>
                                        <button type="button" class="btn btn-danger" th:disabled="${associatedusers.size() <= 1}">Delete</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <hr>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Disable this organization</h5>
                                            <p class="card-text">Disable access, privately and publicly, to this organization's data. This can only be undone by contacting Great Neck Zmanim.</p>
                                            <a href="#" class="btn btn-outline-warning">Disable</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" sec:authorize="hasRole('ROLE_ADMIN')">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Delete this organization</h5>
                                            <p class="card-text">Permanently delete all data for this organization, as well as all user accounts associated with it.</p>
                                            <button class="btn btn-outline-danger" data-toggle="modal" data-target="#delete-organization-modal">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Minyan Schedule</h4>
                                    <p class="card-text" th:text="${'Change the schedule of routine and occasional minyanim for ' + organization.name + '.'}"></p>
                                    <a href="/admin/organizations" class="btn btn-primary">Go</a>
                                </div>
                            </div>
                            <div class="card card-inverse bg-inverse mt-3" sec:authorize="hasRole('ROLE_ADMIN')">
                                <div class="card-body">
                                    <h4 class="card-title">Organizations</h4>
                                    <p class="card-text">See a list of all organizations and manage their data and details.</p>
                                    <a href="/admin/organizations" class="btn btn-primary">Go</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <th:block th:include="/admin/footer"></th:block>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="delete-organization-modal" tabindex="-1" aria-labelledby="delete-organization-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-organization-modal-label" th:text="${'Permanently delete ' + organization.name + '?'}"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to permanently delete all data related to this organization. This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <a th:href="@{/admin/delete-organization} + '?id=' + ${organization.id}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="disable-organization-modal" tabindex="-1" aria-labelledby="disable-organization-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="disable-organization-modal-label" th:text="${'Disable ' + organization.name + '?'}"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to disable this organization's data from being shown on the site and its login access?. This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <a th:href="@{/admin/disable-organization} + '?id=' + ${organization.id}" class="btn btn-danger">Disable</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>