<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>

    <link th:href="@{/admin/sidebar.css}" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.1/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/styles.css}">
    <link th:rel="stylesheet" th:href="@{/admin/styles.css}">
</head>
<body>
<div class="col-md-3 col-lg-2 sidebar-offcanvas h-100 overflow-auto bg-light pl-0" id="sidebar" role="navigation">
    <ul class="nav flex-column sticky-top pl-0 pt-5 mt-3">
        <li class="nav-item"><a class="nav-link" href="/admin/dashboard">Dashboard</a></li>
        <li class="nav-item">
            <a class="nav-link" href="#submenu1" data-toggle="collapse" data-target="#submenu1">Reports▾</a>
            <ul class="list-unstyled flex-column pl-3 collapse" id="submenu1" aria-expanded="false">
                <li class="nav-item"><a class="nav-link" href="">Report 1</a></li>
                <li class="nav-item"><a class="nav-link" href="">Report 2</a></li>
            </ul>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a class="nav-link" href="/admin/organizations">Organization Manager</a></li>
<!--        [[${#request.userPrincipal.isAuthenticated}]]-->
<!--        [[${#request.userPrincipal.authorities}]]-->
<!--        [[${#request.userPrincipal.principal}]]-->
        <li class="nav-item"><a class="nav-link" href="#">Export</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Snippets</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Flexbox</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Layouts</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Templates</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Themes</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Last Item</a></li>
    </ul>
    <li class="nav-item bottom"><a class="nav-link" href="/admin/logout">[[${#httpServletRequest.remoteUser}]]</a></li>
</div>
</body>
<script th:src="@{/admin/sidebar.js}"></script>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.1/js/bootstrap.min.js}"></script>
</html>