<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
    
    <link th:href="@{/admin/sidebar.css}" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.1/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/styles.css}">
    <link th:rel="stylesheet" th:href="@{/admin/styles.css}">
    <script th:src="@{/admin/sidebar.js}"></script>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.1/js/bootstrap.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="border-end bg-white sidebar" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">Start Bootstrap </div>
    <div class="list-group list-group-flush">
<!--        <a class="list-group-item list-group-item-action list-group-item-light p-3 sidebar-slip" href="/admin/dashboard">Dashboard</a>-->
        <a class="list-group-item list-group-item-action list-group-item-light p-3 sidebar-slip" href="/admin/locations" th:if="${!user.isSuperAdmin()}">Locations</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 sidebar-slip" th:href="@{|/admin/${user.getOrganizationId()}/minyanim|}" th:if="${!user.isSuperAdmin()}">Minyan Schedule</a>
        <a  class="list-group-item list-group-item-action list-group-item-light p-3 sidebar-slip" href="/admin/organizations" th:if="${user.isSuperAdmin()}" sec:authorize="hasRole('ROLE_ADMIN')">Organizations</a>
        <a  class="list-group-item list-group-item-action list-group-item-light p-3 sidebar-slip" th:href="@{/admin/organization?id=} + ${user.getOrganizationId()}" th:if="${!user.isSuperAdmin()}">My Organization</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 sidebar-slip" href="/admin/new-organization" th:if="${user.isSuperAdmin()}" sec:authorize="hasRole('ROLE_ADMIN')">Create an Organization</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 sidebar-slip" href="/admin/accounts" th:if="${user.isSuperAdmin()}" sec:authorize="hasRole('ROLE_ADMIN')">Accounts</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 sidebar-slip" th:href="@{/admin/account?id=} + ${user.id}">My Account</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 sidebar-slip" th:href="@{/admin/logout}">Logout</a>
    </div>
</div>
</body>
</html>