:root {
    --primary-color: #035174;
    --focus-color: #034262;
    --secondary-color: #C4D5DD;
}

.center {
    margin: auto;
}

.center-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bg-primary {
    background-color: var(--primary-color)!important;
}

.navbar-expand-lg .navbar-collapse {
    display: block!important;
}

.time-shower {
    float: right;
}

.list-group-item.active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.col-4 {
    flex: 0 0 60%;
    max-width: 60%;
}

.col-8 {
    flex: 0 0 40%;
    max-width: 40%;
}

.section {
    width: 50%;
}

.section-panel {
    width: 70%;
    background-color: #d1e0e7;
    box-shadow: 0 0px 8px 0 rgb(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

a.link {
    color: var(--primary-color);
}

.horizontal-container {
    display: flex!important;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--focus-color);
    border-color: var(--focus-color);
}

.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-primary:hover {
color: #fff;
background-color: var(--focus-color);
border-color: var(--focus-color);
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--focus-color);
    border-color: var(--focus-color);
}

.col-housing {
-ms-flex-preferred-size: 0;
flex-basis: 0;
-ms-flex-positive: 1;
flex-grow: 1;
max-width: 100%;
}

a:hover {
color: var(--focus-color)
}

.btn-primary.focus, .btn-primary:focus {
background-color: var(--focus-color);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #FFF;
    background-color: var(--primary-color);
}

td.middle {
vertical-align: middle;
}

.btn-primary {
    background-color: #035174;
    border-color: #035174;
}

.btn-primary:hover {
    background-color: #033A62;
    border-color: #033A62;
}

@media screen and (max-width: 600px) {
    .mpt0 {
        padding-top: 0!important;
    }

    .mpb0 {
        padding-bottom: 0.5rem!important;
     }
}

.pb0 {
    padding-bottom: 0.5rem!important;
}

