.dropdown-item:active {
    background-color: #035174;
}

.form-msg-fatal {
    color: darkred;
}

.form-msg-success {
    color: green;
}

html,
body {
    margin:0;
    padding:0;
    min-height: 675px;
    margin-bottom: 100px;
    clear: both;
}
#container {
    min-height:100%;
    position:relative;
}
#header {
    background:#ff0;
    padding:10px;
}
#body {
    padding:10px;
    padding-bottom:60px;   /* Height of the footer */
}
#footer {
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
}

#footer-content {
    background-color: #dee6ec;
    height: 100%;
}

.py-3 {
    padding-bottom: 0.5rem!important;
}

.bottom {
    position: absolute;
    bottom: 0;
}

a {
    color: #035174;
}

.footer-pusher {
    padding-bottom: 60px;
}

@media screen and (max-width: 600px) {
  #footer {
  /*
    visibility: hidden;
    display: none;
    */
    /*
    position: relative;
    */
    height: 30px;
    font-size: 0.6rem;
  }
  #footer-content {
    padding: 0.5rem!important;
  }
  .footer-pusher {
    padding-bottom: 30px;
  }
}

.sidebar-slip:not(:hover) {
    background-color: #F6F5F5!important;
}

.sidebar-slip:hover {
    background-color: #ececec!important;
}

.sidebar {
    background-color: #F6F5F5!important;
}

@media (max-width: 992px) {
    .col-lg-3 {
        padding-top: 10px;
    }
}

