<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Error</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.1/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/styles.css}">
    <link th:rel="stylesheet" th:href="@{/homepage.css}">
</head>
<body>
    <h1>Something went wrong! </h1>
    <h2>Our Engineers are on it</h2>
    <a href="/">Go Home</a>
</body>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.1/js/bootstrap.min.js}"></script>
<script th:src="@{/homepage.js}"></script>

</html>
