<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Home</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.1/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/styles.css}">
    <link th:rel="stylesheet" th:href="@{/homepage.css}">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/homepage.js}"></script>
</head>
<body>
<div class="horizontal-container d-flex" id="wrapper">
    <th:block th:include="frontnavbar"></th:block>
    <div class="container-fluid " id="main">
        <div class="row row-offcanvas row-offcanvas-left vh-100" style="flex-direction: column;">
            <!--            <th:block th:include="admin/sidebar"></th:block>-->
            <!--/col-->
            <main class="col main pt-5 mt-3 overflow-auto" style="flex-shrink: 3; margin-bottom: 20px!important; overflow: hidden;">
                <div class="d-flex">
                    <!--                    <p class="col-md-4 h3 mt-3 mobile-hide" th:text="${'Schedule | ' + onlyDate}"></p>-->
                    <p class="col-md-4 h4 mt-3 desktop-hide" th:text="${onlyDate}"></p>
                    <p class="col-md-4 h3 mt-3 mobile-hide" th:text="${onlyDate}"></p>
                    <div class="col-md-4 mt-2 btn-group mobile-hide" style="height: 50%; align-self: center;" role="group">
                        <button type="button" th:if="${!isToday}" th:data-url="@{/zmanim/last(before=${dateString})}" onclick="location.href = this.getAttribute('data-url')" class="btn btn-secondary switcher-btn" style="width: 38%;" th:text="${yesterdayOnlyDate}">‹</button>
                        <button type="button" th:if="${!isToday}" th:data-url="@{/zmanim}" onclick="location.href = this.getAttribute('data-url')" class="btn btn-secondary switcher-btn">Today</button>
                        <button type="button" th:data-url="@{/zmanim/next(after=${dateString})}" onclick="location.href = this.getAttribute('data-url')" class="btn btn-secondary switcher-btn" style="width: 38%;" th:text="${tommorowOnlyDate}">›</button>
                    </div>
                    <div class="col-md-4 mt-2 btn-group desktop-hide" style="height: 50%; align-self: center;" role="group">
                        <button type="button" th:data-url="@{/zmanim/last(before=${dateString})}" onclick="location.href = this.getAttribute('data-url')" class="btn btn-secondary switcher-btn" style="width: 38%;" th:text="${yesterdayStrippedDay}">‹</button>
                        <!--                        <button type="button" th:if="${!isToday}" th:data-url="@{/zmanim}" onclick="location.href = this.getAttribute('data-url')" class="btn btn-secondary switcher-btn">Today</button>-->
                        <button type="button" th:data-url="@{/zmanim/next(after=${dateString})}" onclick="location.href = this.getAttribute('data-url')" class="btn btn-secondary switcher-btn" style="width: 38%;" th:text="${tommorowStrippedDay}">›</button>
                    </div>
                    <p class="h3 mt-3 ml-auto mobile-hide"  style="font-weight: 430;" th:text="${hebrewDate}"></p>
                </div>
                <hr>
                <div id="housing-housing">
                    <div class="mpt0" id="row-housing" style="padding: 1rem;">
                        <div class="row my-4">
                            <div class="col-lg-9 col-md-8" id="minyanim-box">
                                <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true">All Minyanim</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="pills-shacharit-tab" data-toggle="pill" href="#pills-shacharit" role="tab" aria-controls="pills-shacharit" aria-selected="false">Shacharit</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="pills-mincha-tab" data-toggle="pill" href="#pills-mincha" role="tab" aria-controls="pills-mincha" aria-selected="false">Mincha</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="pills-arvit-tab" data-toggle="pill" href="#pills-arvit" role="tab" aria-controls="pills-arvit" aria-selected="false">Arvit</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade active show" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
                                        <table class="table table-hover" th:if="${!allminyanim.isEmpty()}">
                                            <thead>
                                            <tr>
                                                <th scope="col">Type</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Minyan</th>
                                                <!--                                        <th scope="col">Nusach</th>-->
                                                <!--                                        <th scope="col">Notes</th>-->
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="minyan: ${allminyanim}">
                                                <th scope="row" class="middle" th:text="${minyan.getType().displayName()}"></th>
                                                <!--                                        <td th:if="${minyan.getLocationName() != null}" class="middle">-->
                                                <!--                                            <button type="button" class="btn btn-primary btn-sm" th:text="${minyan.getOrganizationName() + '- ' + minyan.getLocationName()}"></button>-->
                                                <!--                                        </td>-->
                                                <td class="middle" th:text="${minyan.getFormattedStartTime()}"></td>
                                                <td class="middle">
                                                    <a role="button" class="btn btn-primary btn-sm" th:href="@{|/orgs/${minyan.getOrganizationId()}|}" th:text="${minyan.getOrganizationName()}"></a>
                                                </td>
                                                <!--                                        <td class="middle" th:text="${minyan.getNusach().displayName()}"></td>-->
                                                <!--                                        <td class="middle" th:text="${minyan.getNotes()}"></td>-->
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="jumbotron" th:if="${allminyanim.isEmpty()}">
                                            <h4>Sorry, there aren't any minyanim scheduled.</h4>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-shacharit" role="tabpanel" aria-labelledby="pills-shacharit-tab">
                                        <table class="table table-hover" th:if="${!shacharitMinyanim.isEmpty()}">
                                            <thead>
                                            <tr>
                                                <th scope="col">Time</th>
                                                <th scope="col">Minyan</th>
                                                <th scope="col">Location</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="minyan: ${shacharitMinyanim}">
                                                <td class="middle" th:text="${minyan.getFormattedStartTime()}"></td>
                                                <td class="middle">
                                                    <a role="button" class="btn btn-primary btn-sm" th:href="@{|/orgs/${minyan.getOrganizationId()}|}" th:text="${minyan.getOrganizationName()}"></a>
                                                </td>
                                                <td class="middle" th:text="${minyan.getLocationName()}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="jumbotron" th:if="${shacharitMinyanim.isEmpty()}">
                                            <h4>Sorry, there aren't any shacharit minyanim scheduled.</h4>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-mincha" role="tabpanel" aria-labelledby="pills-mincha-tab">
                                        <table class="table table-hover" th:if="${!minchaMinyanim.isEmpty()}">
                                            <thead>
                                            <tr>
                                                <th scope="col">Time</th>
                                                <th scope="col">Minyan</th>
                                                <th scope="col">Location</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="minyan: ${minchaMinyanim}">
                                                <td class="middle" th:text="${minyan.getFormattedStartTime()}"></td>
                                                <td class="middle">
                                                    <a role="button" class="btn btn-primary btn-sm" th:href="@{|/orgs/${minyan.getOrganizationId()}|}" th:text="${minyan.getOrganizationName()}"></a>
                                                </td>
                                                <td class="middle" th:text="${minyan.getLocationName()}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="jumbotron" th:if="${minchaMinyanim.isEmpty()}">
                                            <h4>Sorry, there aren't any mincha minyanim scheduled.</h4>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="pills-arvit" role="tabpanel" aria-labelledby="pills-arvit-tab">
                                        <table class="table table-hover" th:if="${!arvitMinyanim.isEmpty()}">
                                            <thead>
                                            <tr>
                                                <th scope="col">Time</th>
                                                <th scope="col">Minyan</th>
                                                <th scope="col">Location</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="minyan: ${arvitMinyanim}">
                                                <td class="middle" th:text="${minyan.getFormattedStartTime()}"></td>
                                                <td class="middle">
                                                    <a role="button" class="btn btn-primary btn-sm" th:href="@{|/orgs/${minyan.getOrganizationId()}|}" th:text="${minyan.getOrganizationName()}"></a>
                                                </td>
                                                <td class="middle" th:text="${minyan.getLocationName()}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="jumbotron" th:if="${arvitMinyanim.isEmpty()}">
                                            <h4>Sorry, there aren't any arvit minyanim scheduled.</h4>
                                        </div>
                                    </div>
                                </div>
                                <!--                        <ul class="nav nav-tabs">-->
                                <!--                            <li class="nav-item">-->
                                <!--                                <a class="nav-link active" href=m"#">Active</a>-->
                                <!--                            </li>-->
                                <!--                            <li class="nav-item">-->
                                <!--                                <a class="nav-link" href="#">Link</a>-->
                                <!--                            </li>-->
                                <!--                            <li class="nav-item">-->
                                <!--                                <a class="nav-link" href="#">Link</a>-->
                                <!--                            </li>-->
                                <!--                            <li class="nav-item">-->
                                <!--                                <a class="nav-link disabled" href="#">Disabled</a>-->
                                <!--                            </li>-->
                                <!--                        </ul>-->
                                <!--                        <div class="table-responsive">-->
                                <!--                            <table class="table table-striped">-->
                                <!--                                <thead class="thead-inverse">-->
                                <!--                                <tr>-->
                                <!--                                    <th>#</th>-->
                                <!--                                    <th>Label</th>-->
                                <!--                                    <th>Header</th>-->
                                <!--                                    <th>Column</th>-->
                                <!--                                    <th>Data</th>-->
                                <!--                                </tr>-->
                                <!--                                </thead>-->
                                <!--                                <tbody>-->
                                <!--                                <tr>-->
                                <!--                                    <td>1,001</td>-->
                                <!--                                    <td>responsive</td>-->
                                <!--                                    <td>bootstrap</td>-->
                                <!--                                    <td>cards</td>-->
                                <!--                                    <td>grid</td>-->
                                <!--                                </tr>-->
                                <!--                                <tr>-->
                                <!--                                    <td>1,002</td>-->
                                <!--                                    <td>rwd</td>-->
                                <!--                                    <td>web designers</td>-->
                                <!--                                    <td>theme</td>-->
                                <!--                                    <td>responsive</td>-->
                                <!--                                </tr>-->
                                <!--                                <tr>-->
                                <!--                                    <td>1,003</td>-->
                                <!--                                    <td>free</td>-->
                                <!--                                    <td>open-source</td>-->
                                <!--                                    <td>download</td>-->
                                <!--                                    <td>template</td>-->
                                <!--                                </tr>-->
                                <!--                                <tr>-->
                                <!--                                    <td>1,003</td>-->
                                <!--                                    <td>frontend</td>-->
                                <!--                                    <td>developer</td>-->
                                <!--                                    <td>coding</td>-->
                                <!--                                    <td>card panel</td>-->
                                <!--                                </tr>-->
                                <!--                                <tr>-->
                                <!--                                    <td>1,004</td>-->
                                <!--                                    <td>migration</td>-->
                                <!--                                    <td>bootstrap 4</td>-->
                                <!--                                    <td>mobile-first</td>-->
                                <!--                                    <td>design</td>-->
                                <!--                                </tr>-->
                                <!--                                <tr>-->
                                <!--                                    <td>1,005</td>-->
                                <!--                                    <td>navbar</td>-->
                                <!--                                    <td>sticky</td>-->
                                <!--                                    <td>jumbtron</td>-->
                                <!--                                    <td>header</td>-->
                                <!--                                </tr>-->
                                <!--                                <tr>-->
                                <!--                                    <td>1,006</td>-->
                                <!--                                    <td>collapse</td>-->
                                <!--                                    <td>affix</td>-->
                                <!--                                    <td>submenu</td>-->
                                <!--                                    <td>flexbox</td>-->
                                <!--                                </tr>-->
                                <!--                                <tr>-->
                                <!--                                    <td>1,007</td>-->
                                <!--                                    <td>layout</td>-->
                                <!--                                    <td>examples</td>-->
                                <!--                                    <td>themes</td>-->
                                <!--                                    <td>grid</td>-->
                                <!--                                </tr>-->
                                <!--                                <tr>-->
                                <!--                                    <td>1,008</td>-->
                                <!--                                    <td>migration</td>-->
                                <!--                                    <td>bootstrap 4</td>-->
                                <!--                                    <td>flexbox</td>-->
                                <!--                                    <td>design</td>-->
                                <!--                                </tr>-->
                                <!--                                </tbody>-->
                                <!--                            </table>-->
                                <!--                        </div>-->
                            </div>
                            <div class="col-lg-3 col-md-4" id="zmanim-box">
                                <div class="col">
                                    <div>
                                <span>
                                    <b>
                                        <span>Zmanim</span>
                                    </b>
                                    <hr>
                                </span>
                                        <div>
                                            <div class="row m-b-30">
                                                <div class="col-12">
                                                    <div>
                                                        <b class="time-box" th:text="${alotHashachar}"></b>
                                                        &nbsp;
                                                        <span>
                                <span>Alot HaShachar</span>
                            </span>
                                                    </div>
                                                    <hr>
                                                </div>
                                                <div class="col-12">
                                                    <div>
                                                        <b class="time-box" th:text="${sunrise}"></b>
                                                        &nbsp;
                                                        <span><span>Netz</span>
                            </span></div> <hr></div><div class="col-12"><div><b class="time-box" th:text="${chatzot}"></b>
                                                &nbsp;
                                                <span><span>Chatzot</span></span></div> <hr></div><div class="col-12"><div><b class="time-box" th:text="${minchaGedola}"></b>
                                                &nbsp;
                                                <span><span>Mincha Gedola</span></span></div> <hr></div><div class="col-12"><div><b class="time-box" th:text="${minchaKetana}"></b>
                                                &nbsp;
                                                <span><span>Mincha Ketana</span></span></div> <hr></div><div class="col-12"><div><b class="time-box" th:text="${plagHamincha}"></b>
                                                &nbsp;
                                                <span>
                                <span>Plag HaMincha</span>
                            </span>
                                            </div>
                                                <hr>
                                            </div>
                                                <div class="col-12"><div><b class="time-box" th:text="${shekiya}"></b>
                                                    &nbsp;
                                                    <span><span>Shekiya</span>
                            </span></div><hr></div>
                                                <div class="col-12"><div><b class="time-box" th:text="${tzet}"></b>
                                                    &nbsp;
                                                    <span><span>Tzet HaKochavim</span>
                            </span>
                                                </div>
                                                    <!--                                            <hr></div>-->
                                                    <!--                                        <div class="col-12"><div><b th:text="${latestShema}"></b>-->
                                                    <!--                                            &nbsp;-->
                                                    <!--                                            <span><span>Tzet HaKochavim</span>-->
                                                    <!--                            </span>-->
                                                    <!--                                        </div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->
            </main>
            <!--/main col-->
        </div>
    </div>
    <!--/.container-->
    <!--    Welcome to the dashboard, [[${#httpServletRequest.remoteUser}]].-->

    <th:block th:include="footer"></th:block>
</div>
</body>



</html>
