<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${org.getName()}"></title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.1/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/styles.css}">
    <link th:rel="stylesheet" th:href="@{/org.css}">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.1/js/bootstrap.min.js}"></script>
    <!--    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>-->
    <!--    <script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>-->
    <!--    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>-->
    <!--<script th:src="@{org.js}"></script>-->
</head>
<body>
<div class="horizontal-container d-flex" id="wrapper">
    <th:block th:include="frontnavbar"></th:block>
    <div class="container-fluid " id="main">
        <div class="row row-offcanvas row-offcanvas-left vh-100" style="flex-direction: column;">
<!--            <th:block th:include="admin/sidebar"></th:block>-->
            <!--/col-->
            <main class="col main pt-5 mt-3 overflow-auto" style="flex-shrink: 3; padding-bottom: 65px!important;">
                <div class="d-flex">
                    <p class="col-md-4 h4 mt-3 desktop-hide" th:text="${onlyDate}"></p>
                    <p class="col-md-4 h3 mt-3 mobile-hide" th:text="${onlyDate}"></p>
                    <div class="col-md-4 mt-2 btn-group mobile-hide" style="height: 50%; align-self: center;" role="group">
                        <button type="button" th:data-url="@{|/orgs/${org.getId()}/last|(before=${dateString})}" onclick="location.href = this.getAttribute('data-url')" class="btn btn-secondary switcher-btn" style="width: 40%;" th:text="${yesterdayOnlyDate}">‹</button>
                        <button type="button" th:if="${!isToday}" th:data-url="@{|/orgs/${org.getId()}|}" onclick="location.href = this.getAttribute('data-url')" class="btn btn-secondary switcher-btn">Today</button>
                        <button type="button" th:data-url="@{|/orgs/${org.getId()}/next|(after=${dateString})}" onclick="location.href = this.getAttribute('data-url')" class="btn btn-secondary switcher-btn" style="width: 40%;" th:text="${tommorowOnlyDate}">›</button>
                    </div>
                    <div class="col-md-4 mt-2 btn-group desktop-hide" style="height: 50%; align-self: center;" role="group">
                        <button type="button" th:data-url="@{|/orgs/${org.getId()}/last|(before=${dateString})}" onclick="location.href = this.getAttribute('data-url')" class="btn btn-secondary switcher-btn" style="width: 40%;" th:text="${yesterdayStrippedDay}">‹</button>
<!--                        <button type="button" th:if="${!isToday}" th:data-url="@{|/orgs/${org.getId()}|}" onclick="location.href = this.getAttribute('data-url')" class="btn btn-secondary switcher-btn">Today</button>-->
                        <button type="button" th:data-url="@{|/orgs/${org.getId()}/next|(after=${dateString})}" onclick="location.href = this.getAttribute('data-url')" class="btn btn-secondary switcher-btn" style="width: 40%;" th:text="${tommorowStrippedDay}">›</button>
                    </div>
                    <p class="h3 mt-3 ml-auto mobile-hide"  style="font-weight: 430;" th:text="${hebrewDate}"></p>
                </div>
                <hr>
                <div id="housing-housing">
                    <div class="mpt0 pb0" id="row-housing" style="padding: 1rem;">
                <div class="row my-4" style="margin-bottom: 40px!important;">
                    <div class="col-lg-3 col-md-4" id="org-box">
                        <div class="card" style="border: 0;">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${org.getName()}"></h5>
                                <h6 class="card-subtitle mb-2 text-muted" th:text="${org.getNusach().displayName()}"></h6>
                                <p class="card-text" th:text="${org.getAddress()}"></p>
                                <a th:if="${org.getWebsiteURI() != null}" th:href="@{|https://${org.getWebsiteURI()}|}" class="card-link">Visit the website</a>
<!--                                <a href="#" class="card-link">Another link</a>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8" id="minyanim-box">
                                <table class="table table-hover" th:if="${!allminyanim.isEmpty()}">
                                    <thead>
                                    <tr>
                                        <th scope="col">Type</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Information</th>
<!--                                        <th scope="col">Nusach</th>-->
<!--                                        <th scope="col">Notes</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="minyan: ${allminyanim}">
                                        <th scope="row" class="middle" th:text="${minyan.getType().displayName()}"></th>
<!--                                        <td th:if="${minyan.getLocationName() != null}" class="middle">-->
<!--                                            <button type="button" class="btn btn-primary btn-sm" th:text="${minyan.getOrganizationName() + '- ' + minyan.getLocationName()}"></button>-->
<!--                                        </td>-->
                                        <td class="middle" th:text="${minyan.getFormattedStartTime()}"></td>
                                        <td class="middle" th:text="${minyan.getInformation()}">
<!--                                            <a role="button" class="btn btn-primary btn-sm" th:href="@{|/orgs/${minyan.getOrganizationName()}|}" th:text="${minyan.getOrganizationName()}"></a>-->
                                        </td>
<!--                                        <td class="middle" th:text="${minyan.getNusach().displayName()}"></td>-->
<!--                                        <td class="middle" th:text="${minyan.getNotes()}"></td>-->
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="jumbotron" th:if="${allminyanim.isEmpty()}">
                                    <h4>Sorry, there aren't any minyanim scheduled.</h4>
                                </div>
                </div>
                </div>
                </div>
                <!--/row-->
            </main>
            <!--/main col-->
        </div>
    </div>

    <th:block th:include="footer"></th:block>
</div>
</body>
</html>