<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Great Neck Minyanim</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.1/css/bootstrap.min.css} "/>
<!--    <link th:href="@{/front/bootstrap-4.6-import.css}" rel="stylesheet" type="text/css" />>-->
    <link rel="stylesheet" th:href="@{/styles.css}">
    <script type="text/javascript" th:src="@{/frontindex.js}"></script>
</head>
<body>
<div>
    <div th:insert="frontnavbar.html"></div>
    <div>
        <div class="section" style="float: left">
            <button>Hello</button>
        </div>
        <div class="section" style="float: right">
            <div class="section-panel center">
            <span>
                <h5>Zmanim: Great Neck</h5>
            </span>
                <div class="row">
                    <div class="col-4">
                        <div class="list-group" id="list-tab" role="tablist">
<!--                            <a class="list-group-item list-group-item-action active show" id="initial-hidden" data-toggle="list" href="#list-initial" role="tab" aria-controls="initial-hidden"></a>-->
                            <a class="list-group-item list-group-item-action" id="alot-hashachar-time" data-toggle="list" href="#list-alot-hashachar" role="tab" aria-controls="alot-hashachar" th:text="'Alot HaShachar: ' + ${alotHashachar}" th:onclick="removeInitialZmanimMessage()"></a>
                            <a class="list-group-item list-group-item-action" id="sunrise-time" data-toggle="list" href="#list-sunrise" role="tab" aria-controls="sunrise" th:text="'Sunrise: ' + ${sunrise}"></a>
                            <a class="list-group-item list-group-item-action" id="chatzot-time" data-toggle="list" href="#list-chatzot" role="tab" aria-controls="chatzot" th:text="'Chatzot: ' + ${chatzot}"></a>
                            <a class="list-group-item list-group-item-action" id="mincha-gedola-time" data-toggle="list" href="#list-mincha-gedola" role="tab" aria-controls="mincha-gedola" th:text="'Mincha Gedola: ' + ${minchaGedola}"></a>
                            <a class="list-group-item list-group-item-action" id="mincha-ketana-time" data-toggle="list" href="#list-mincha-ketana" role="tab" aria-controls="mincha-ketana" th:text="'Mincha Ketana: ' + ${minchaKetana}"></a>
                            <a class="list-group-item list-group-item-action" id="sunset-time" data-toggle="list" href="#list-sunset" role="tab" aria-controls="sunset" th:text="'Sunrise: ' + ${sunset}"></a>
                            <a class="list-group-item list-group-item-action" id="tzet-time" data-toggle="list" href="#list-tzet" role="tab" aria-controls="tzet" th:text="'Tzet HaKochavim: ' + ${tzet}"></a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">
                            <p id="initial-message">
                                Click on a zman to see information and halakhic significance for that time.
                            </p>
<!--                            <div class="tab-pane fade" id="list-initial" role="tabpanel" aria-labelledby="list-initial-list">Click on a zman to see halakhic significance for that time.</div>-->
                            <div class="tab-pane fade" id="list-alot-hashachar" role="tabpanel" aria-labelledby="list-alot-hashachar-list">Dawn, the time that the first rays of sun rise in the Eastern horizon.</div>
                            <div class="tab-pane fade" id="list-sunrise" role="tabpanel" aria-labelledby="list-sunrise-list">The earliest time for the Amida.</div>
                            <div class="tab-pane fade" id="list-chatzot" role="tabpanel" aria-labelledby="list-chatzot-list"></div>
                            <div class="tab-pane fade" id="list-mincha-gedola" role="tabpanel" aria-labelledby="list-mincha-gedola-list"></div>
                            <div class="tab-pane fade" id="list-mincha-ketana" role="tabpanel" aria-labelledby="list-mincha-ketana-list"></div>
                            <div class="tab-pane fade" id="list-sunset" role="tabpanel" aria-labelledby="list-sunset-list"></div>
                            <div class="tab-pane fade" id="list-tzet" role="tabpanel" aria-labelledby="list-tzet-list"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.1/js/bootstrap.min.js}"></script>

</body>
</html>