<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Great Neck Zmanim</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" style="float: left;">
        <li class="nav-item" th:classappend="${#httpServletRequest.requestURI == '/'} ? 'active' : ''">
          <a class="nav-link" href="/">Zmanim<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" th:classappend="${#httpServletRequest.requestURI == '/about'} ? 'active' : ''">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <span class="navbar-text time-shower" th:text="${date}">
      </span>
    </div>
  </nav>
</body>
</html>