<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Great Neck Zmanim</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div>
    <div th:insert="front/navbar.html"></div>
    <div>
        <div>
            <div>
                <label for="alotHashachar">Alot HaShachar</label>
                <p th:text="${alotHashachar}" id="alotHashachar"></p>
            </div>
            <div>
                <label for="sunrise">Sunrise</label>
                <p th:text="${sunrise}" id="sunrise"></p>
            </div>
            <div>
                <label for="chatzot">Chatzot</label>
                <p th:text="${chatzot}" id="chatzot"></p>
            </div>
            <div>
                <label for="minchaGedola">Mincha Gedola</label>
                <p th:text="${minchaGedola}" id="minchaGedola"></p>
            </div>
            <div>
                <label for="minchaKetana">Mincha Ketana</label>
                <p th:text="${minchaKetana}" id="minchaKetana"></p>
            </div>
            <div>
                <label for="sunset">Sunset</label>
                <p th:text="${sunset}" id="sunset"></p>
            </div>
            <div>
                <label for="tzait">Tzait HaKochavim</label>
                <p th:text="${tzait}" id="tzait"></p>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>