<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Minyan</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.1/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/styles.css}">
    <link th:rel="stylesheet" th:href="@{/admin/dashboard.css}">
</head>
<body>
<div class="horizontal-container d-flex" id="wrapper">
    <th:block th:include="/admin/navbar"></th:block>
    <div class="container-fluid" id="main">
        <div class="row row-offcanvas row-offcanvas-left vh-100">
            <th:block th:include="/admin/sidebar"></th:block>
            <!--/col-->
            <div class="col-housing main h-100 overflow-auto">
                <main class="col main pt-5 mt-3 overflow-auto">
                    <div th:if="${successmessage}">
                        <div class="alert alert-success" role="alert" th:utext="${successmessage}"> </div>
                    </div>
                    <div th:if="${errormessage}">
                        <div class="alert alert-danger" role="alert" th:text="${errormessage}"></div>
                    </div>
                    <h1 class="display-4 d-sm-block">
                        New Minyan
                    </h1>

                    <p th:if="${user.isSuperAdmin()}" sec:authorize="hasRole('ROLE_ADMIN')" class="lead d-none d-sm-block" th:text="${'Add a new minyan for ' + organization.name + ' with a set location, times for every occasion, and other important information.'}"></p>
                    <p th:if="${!user.isSuperAdmin()}" class="lead d-none d-sm-block">Add a new minyan with a set location, times for every occasion, and other important information.</p>

                    <hr class="">

                    <p class="lead d-none">
                        The minyan defined below will be created with automatically be enabled and show on the public Great Neck Minyanim site.
                    </p>

                    <div class="row my-4 footer-pusher">
                        <div class="col-lg-9 col-md-8">
                            <div class="table-responsive">
                                <form onsubmit="validateData()" th:action="@{|/admin/${organization.id}/minyanim/create|}" method="post" style="overflow-x: hidden;">
                                    <div class="form-group">
                                        <label for="type">Minyan Type</label>
                                        <select class="custom-select" name="type" id="type" required>
                                            <option value="" disabled>Choose a type</option>
                                            <option value="shacharit">Shacharit</option>
                                            <option value="mincha">Mincha</option>
                                            <option value="arvit">Arvit</option>
                                            <option value="selichot">Selichot</option>
                                            <option value="megilareading">Megila Reading</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="location">Location</label>
                                        <select class="custom-select" name="location" id="location" required>
                                            <option value="null" selected>None specified</option>
                                            <div th:each="location: ${locations}">
                                                <option th:value="${location.id}" th:text="${location.name}"></option>
                                            </div>
                                        </select>
                                        <small id="location-help" class="form-text text-muted">Choose the place inside the shul that the minyan will take place. To add more options, jump to <a th:href="@{/admin/locations(oid=${organization.id})}">manage locations</a>.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="sunday-box">Sunday</label>
                                        <div class="form-row" id="sunday-box">
                                            <div class="col">
                                                <select class="custom-select" name="sunday-time-type" id="sunday-time-type" onchange="update('sunday')" required>
                                                    <option value="nm" selected>No Minyan</option>
                                                    <option value="fixed">Fixed</option>
                                                    <option value="dynamic">Dynamic</option>
                                                </select>
                                            </div>
                                            <div class="col" id="dynamic-time-box-sunday"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="monday-box">Monday</label>
                                        <div class="form-row" id="monday-box">
                                            <div class="col">
                                                <select class="custom-select" name="monday-time-type" id="monday-time-type" onchange="update('monday')" required>
                                                    <option value="nm" selected>No Minyan</option>
                                                    <option value="fixed">Fixed</option>
                                                    <option value="dynamic">Dynamic</option>
                                                </select>
                                            </div>
                                            <div class="col" id="dynamic-time-box-monday"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="tuesday-box">Tuesday</label>
                                        <div class="form-row" id="tuesday-box">
                                            <div class="col">
                                                <select class="custom-select" name="tuesday-time-type" id="tuesday-time-type" onchange="update('tuesday')" required>
                                                    <option value="nm" selected>No Minyan</option>
                                                    <option value="fixed">Fixed</option>
                                                    <option value="dynamic">Dynamic</option>
                                                </select>
                                            </div>
                                            <div class="col" id="dynamic-time-box-tuesday"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="wednesday-box">Wednesday</label>
                                        <div class="form-row" id="wednesday-box">
                                            <div class="col">
                                                <select class="custom-select" name="wednesday-time-type" id="wednesday-time-type" onchange="update('wednesday')" required>
                                                    <option value="nm" selected>No Minyan</option>
                                                    <option value="fixed">Fixed</option>
                                                    <option value="dynamic">Dynamic</option>
                                                </select>
                                            </div>
                                            <div class="col" id="dynamic-time-box-wednesday"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="thursday-box">Thursday</label>
                                        <div class="form-row" id="thursday-box">
                                            <div class="col">
                                                <select class="custom-select" name="thursday-time-type" id="thursday-time-type" onchange="update('thursday')" required>
                                                    <option value="nm" selected>No Minyan</option>
                                                    <option value="fixed">Fixed</option>
                                                    <option value="dynamic">Dynamic</option>
                                                </select>
                                            </div>
                                            <div class="col" id="dynamic-time-box-thursday"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="friday-box">Friday</label>
                                        <div class="form-row" id="friday-box">
                                            <div class="col">
                                                <select class="custom-select" name="friday-time-type" id="friday-time-type" onchange="update('friday')" required>
                                                    <option value="nm" selected>No Minyan</option>
                                                    <option value="fixed">Fixed</option>
                                                    <option value="dynamic">Dynamic</option>
                                                </select>
                                            </div>
                                            <div class="col" id="dynamic-time-box-friday"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="shabbat-box">Shabbat</label>
                                        <div class="form-row" id="shabbat-box">
                                            <div class="col">
                                                <select class="custom-select" name="shabbat-time-type" id="shabbat-time-type" onchange="update('shabbat')" required>
                                                    <option value="nm" selected>No Minyan</option>
                                                    <option value="fixed">Fixed</option>
                                                    <option value="dynamic">Dynamic</option>
                                                </select>
                                            </div>
                                            <div class="col" id="dynamic-time-box-shabbat"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="yt-box">Yom Tov</label>
                                        <div class="form-row" id="yt-box">
                                            <div class="col">
                                                <select class="custom-select" name="yt-time-type" id="yt-time-type" onchange="update('yt')" required>
                                                    <option value="nm" selected>No Minyan</option>
                                                    <option value="fixed">Fixed</option>
                                                    <option value="dynamic">Dynamic</option>
                                                </select>
                                            </div>
                                            <div class="col" id="dynamic-time-box-yt"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="rc-box">Rosh Chodesh</label>
                                        <div class="form-row" id="rc-box">
                                            <div class="col">
                                                <select class="custom-select" name="rc-time-type" id="rc-time-type" onchange="update('rc')" required>
                                                    <option value="nm" selected>No Minyan</option>
                                                    <option value="fixed">Fixed</option>
                                                    <option value="dynamic">Dynamic</option>
                                                </select>
                                            </div>
                                            <div class="col" id="dynamic-time-box-rc"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="chanuka-box">Chanuka</label>
                                        <div class="form-row" id="chanuka-box">
                                            <div class="col">
                                                <select class="custom-select" name="chanuka-time-type" id="chanuka-time-type" onchange="update('chanuka')" required>
                                                    <option value="nm" selected>No Minyan</option>
                                                    <option value="fixed">Fixed</option>
                                                    <option value="dynamic">Dynamic</option>
                                                </select>
                                            </div>
                                            <div class="col" id="dynamic-time-box-chanuka"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="rcc-box">Rosh Chodesh Chanuka</label>
                                        <div class="form-row" id="rcc-box">
                                            <div class="col">
                                                <select class="custom-select" name="rcc-time-type" id="rcc-time-type" onchange="update('rcc')" required>
                                                    <option value="nm" selected>No Minyan</option>
                                                    <option value="fixed">Fixed</option>
                                                    <option value="dynamic">Dynamic</option>
                                                </select>
                                            </div>
                                            <div class="col" id="dynamic-time-box-rcc"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="nusach">Nusach</label>
                                        <select class="custom-select" name="nusach" id="nusach">
                                            <option value="unspecified" selected>None specified</option>
                                            <option value="edot_hamizrach">Edot HaMizrach</option>
                                            <option value="sefard">Sefard</option>
                                            <option value="ashkenaz">Ashkenaz</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="notes">Notes</label>
                                        <input type="text" class="form-control" name="notes" id="notes" aria-describedby="notes-help">
                                    </div>
                                    <div class="custom-control custom-switch" style="z-index: auto;">
                                        <input type="checkbox" class="custom-control-input" name="enabled" id="enabled" checked>
                                        <label class="custom-control-label" for="enabled">Display this minyan immediately</label>
                                    </div>
                                    <div class="login-msg-box" th:if="${inputerrormessage}">
                                        <div class="form-msg-fatal" th:text="${inputerrormessage}"></div>
                                    </div>
                                    <hr>
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Minyanim</h4>
                                    <p class="card-text" th:text="${'View and manage all minyanim for ' + organization.name + '.'}"></p>
                                    <a th:href="@{|/admin/${organization.id}/minyanim|}" class="btn btn-primary">Go</a>
                                </div>
                            </div>
                            <div class="card card-inverse bg-inverse mt-3">
                                <div class="card-body">
                                    <h4 class="card-title">Need help?</h4>
                                    <p class="card-text">Click <a href="#" data-toggle="modal" data-target="#dynamic-time-help-modal">here</a> for an explanation of how to use the minyan time settings.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/row-->
                </main>
                <th:block th:include="/admin/footer"></th:block>
            </div>
        </div>

    </div>
</div>

<div>
<div class="modal fade" id="dynamic-time-help-modal" tabindex="-1" aria-labelledby="dynamic-time-help-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dynamic-time-help-modal-label">Minyan Times</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Static times are simply fixed start times that don't change on their own from week to week.
                </p>
                <p>
                    Dynamic times will change from week to week based on the zman. Choose the zman to base the minyan time on, as well as the number of minutes before or after the zman to schedule the minyan. For example, to schedule a minyan 20 minutes before Netz, choose 'Netz' and -20 minutes.
                </p>
                <p>
                    To specify when in prayers the minyan will officially begin, such as Yishtabach, add a note to the minyan.
                </p>
                <p>
                    To indicate no minyan on a certain minyanDay, just leave the field blank.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>
</body>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.1/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

<script th:src="@{/admin/new-minyan.js}"></script>
<script>updateAll()</script>

</html>